{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center mt-5" style="width: 25%;">
    <div class="col mt-5">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% if form.hidden_fields %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
            {% endif %}
            {% for field in form.visible_fields %}
            <div class="form-floating mb-3">
                {{field.errors}}
                {{field}}
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {% if field.help_text %}
                <small class="form-text" id="{{ field.auto_id }}_helptext">
                    {{ field.help_text|safe }}
                </small>
                {% endif %}
            </div>
            {% endfor %}
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-lg" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url 'books:all' %}'; return false;" value="Cancel">
            </div>
        </form>

    </div>
</div>

{% endblock %}
